<div id="mySidenav" class="sidenav" [style.width.px]="width"><br>
  <a href="/user">Websites</a>
  <a href="/user/cards">Cards</a>
  <a href="/user/dashboard">Dashboard</a>
  <a href="/">Logout</a>
</div>

<div class="form-group">
    <input type="password" id="key" name='key' class="form-control" placeholder="Insert Your Key Here" [(ngModel)]='key' autocomplete="off" maxlength="20">
</div>

<app-header (marginleft)="width = $event"></app-header>
<br><br><br>

<div class="row">
  <div class="col-sm-4">
    <div class='container-fluid'>
    <div class="card">
      <img src="/assets/cc.png" id="image" style="width:400px">
    </div>

      <input type='text' id='bank' class='form-control' placeholder='Bank Name'  [(ngModel)]='newBank' autocomplete="off" maxlength="20">
      <input type='text' id='digits' class='form-control' placeholder='Card Number' [(ngModel)]='newDigits' autocomplete="off" maxlength="16" minlength="16">
      <input type='text' id='exp' class='form-control' placeholder='MM/YY' [(ngModel)]='newExp' maxlength="7" autocomplete="off" minlength="4">
      <h4><b><input type='text' id='nameoncard' class='form-control' placeholder='Name on the card'  [(ngModel)]='newNameoncard' autocomplete="off" maxlength="20"></b></h4>

      <br>
    <button class='btn btn-success' (click)='addNewCard(newBank, newNameoncard, newDigits, newExp, key, newAlgorithm)'>Add New Card</button>
  </div>
  <br>
  </div>

  <div class="col-sm-8 fix">
    <br>
    <!-- Table -->
    <table class="table table-striped" >

        <tr class="info">
        <th width='3%'></th>
        <th width='24%'>Bank Name</th>
        <th width='24%'>Name on the Card</th>
        <th width='24%'>Card Number</th>
        <th width='20%'>Validity</th>
        <th width='5%'></th>
        </tr>

        <tr *ngFor='let card of cards; let i = index'>
        <td><span class="glyphicon glyphicon-remove" (click)='delWebsite(card.digits)'></span></td>
        <td><input type='text' class='form-control list' value='{{card.bank}}'></td>
        <td><input type='text' class='form-control list' value='{{card.name}}'></td>
        <td><input type='text' class='form-control list' value='{{card.digits}}'></td>
        <td><input type='text' class='form-control list' value='{{card.exp}}'></td>
        <td>&nbsp;&nbsp;<span class="glyphicon glyphicon-eye-open" (click)='show(card.name, card.digits, card.exp, key, i)'></span></td>
        </tr>
    </table>
    <!-- END of Table -->

  </div>
</div>