<div id="mySidenav" class="sidenav" [style.width.px]="width"><br>
  <a href="/user">Websites</a>
  <a href="/user/cards">Cards</a>
  <a href="/user/dashboard">Dashboard</a>
  <a href="/">Logout</a>
</div>

<app-header (marginleft)="width = $event"></app-header>
<br><br><br><br>

<div id="main" [style.margin-left.px]="width">
  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-12">
        <div class="well">
          <h4>Update Account Information</h4>
           <label for="updateUsername">Change </label>
          <input type="text" class="" id='updateUsername' placeholder="Username">
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="well">
              <h4>Users</h4>
              <p>1 Million</p> 
            </div>
          </div>
          <div class="col-sm-3">
            <div class="well">
              <h4>Pages</h4>
              <p>100 Million</p> 
            </div>
          </div>
          <div class="col-sm-3">
            <div class="well">
              <h4>Sessions</h4>
              <p>10 Million</p> 
            </div>
          </div>
          <div class="col-sm-3">
            <div class="well">
              <h4>Bounce</h4>
              <p>30%</p> 
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="well">
              <p>Text</p> 
              <p>Text</p> 
              <p>Text</p> 
            </div>
          </div>
          <div class="col-sm-4">
            <div class="well">
              <p>Text</p> 
              <p>Text</p> 
              <p>Text</p> 
            </div>
          </div>
          <div class="col-sm-4">
            <div class="well">
              <p>Text</p> 
              <p>Text</p> 
              <p>Text</p> 
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="well">
              <p>Text</p> 
            </div>
          </div>
          <div class="col-sm-4">
            <div class="well">
              <p>Text</p> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>